{% extends 'user/base.html.twig' %}
{% from 'submission/_macros.html.twig' import submission %}
{% from 'comment/_macros.html.twig' import comment %}

{% block title 'nav.trash'|trans %}

{% block body %}
  <h1 class="page-heading">{{ block('title') }}</h1>

  {% for post in posts %}
    {% if post.title is defined %}
      {{ submission(post) }}
    {% else %}
      {{ comment(post) }}
    {% endif %}
  {% else %}
    <p><small class="fg-muted text-md">{{ 'flash.no_entries_to_display'|trans }}</small></p>
  {% endfor %}
{% endblock body %}
